{{> head}}
{{> navbar }}
    
  <div class="row">
      <div class= "col-8">
          <h1>Cosmic Go</h1>
          <p>
              his form is essentially identical to the initial state of Ultra Instinct -Sign-, albeit with the user's hair becoming silver in color. The hairstyle is slightly wilder and more solid than normal, having no loose strands. The eyes take on a more stern, defined shape, sporting silver-colored irises and visible pupils. Also, in the manga, the user generally has a focused but calm expression. The user gains a complex silver and blue aura consisting of rippling, fire-like energy, complete with sparkling particles of a magenta color.[4] In the anime, the user's muscles remain virtually the same mass and definition while in the manga, the user's musculature becomes slimmed down like Super Saiyan God. Upon the user's first successful transformation into Ultra Instinct, a "shell" of black and bright white covers the body before crumbling away as the hair fades from glowing white to gray. A similar effect has been seen in Super Saiyan Blue. In the anime, the transformation's extreme energy rips away the user's clothing on their torso while in the manga, their clothing remains unaffected. In Toriyama's artwork and Super Dragon Ball Heroes (both the game and manga), the form possesses Goku's Super Saiyan God hair and eyes albeit silver.
          </p>
      </div>

      <div class= "col-4">
          <img src="assets/img/New_Goku.jpg" class="img-thumbnail">
      </div>
  </div>


{{> footer}}